//*******************
//***   BUTTONS   ***
//*******************

.main-btn {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 52px;
  padding-right: 52px;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 10px;
}

.btn-unstyled {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}
