.package {
  padding: 200px 0;
}

.package__wrap {
  margin-top: 103px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left__desc {
  margin: 0;
  margin-bottom: 21px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #07484a;
}

.left__cart {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fdfbf8;
  width: 100%;
  max-width: 196px;
  background: #70908b;
  border-radius: 10px;
  text-decoration: none;
  padding: 20px 28px 20px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::after {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    background-image: url("../../images/korzinka.svg");
  }
}

.left__price {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  display: block;
  text-decoration: none;
  display: flex;
  justify-content: start;
  margin-top: 21px;
  line-height: 115%;
  letter-spacing: -0.02em;
  color: #07484a;
}
