.products {
  background-image: url('../../images/product-1.png');
  background-repeat: no-repeat;
  background-size: 23%;
}

.product__title {
  margin: 0;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  text-align: center;
  color: #07484a;
}

.product__list {
  margin: 0;
  position: relative;
  padding: 58px 0 54px;
  display: flex;
  align-items: center;
  list-style: none;
  // overflow: hidden;
}

.product__item + .product__item {
  margin-left: 32px;
}

.product__item {
  background: #caf3e5;
  border-radius: 16px;
}

.card {
  padding: 60px 40px 60px 40px;
  width: 100%;
  max-width: 431px;
  text-align: center;

}

.card__title {
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #70908b;
}

.card__desc {
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #70908b;
}

.card__price {
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #70908b;
}
