// .products {
//   background-image: url('../../images/product-1.png');
//   background-repeat: no-repeat;
//   background-size: 23%;
// }

.product__title {
  margin: 0;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  text-align: center;
  color: #07484a;
}

.product__wrapper {
  position: relative;
}

.product__list,
.slick-track {
  margin: 0 !important;
  gap: 15px !important;
  right: 0 !important;
  padding: 58px 0 54px !important;
  display: flex !important;
  list-style: none !important;
  overflow: hidden !important;
}

// .product__item,.slick-slide + .product__item,.slick-slide {
//   margin-left: 32px !important;
// }

.product__item,
.slick-slide {
  background: #caf3e5 !important;
  border-radius: 16px !important;
}

.product__item img {
  width: 100%;
  max-width: 200px;
  max-height: 260px;
}

.card {
  padding: 60px 40px 60px 40px;
  width: 100%;
  max-width: 431px;
  text-align: center;
}

.card__title {
  margin: 0;
  margin-top: 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #70908b;
  text-align: start;
}

.card__desc {
  margin: 0;
  margin: 10px 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #70908b;
  text-align: start;
}

.card__price {
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #70908b;
  display: flex;
  justify-content: start;
  text-decoration: none;
}

.slick-initialized {
  padding: 0 !important; 
}
